@charset "utf-8";
/* CSS Document */

.header{
  background-image: url('../img/70153359_522282355198676_1666705468447260672_n.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

.body-text{text-align: center; margin-top: 50px;}

.line{width:100%; border-top: 2px solid rgba(205,205,205,1.00); margin-top: 30px;}

.hinh-1{margin-top: 50px;} .hinh-1-1{margin-top: 50px;}

.hinh-2 img{width: 100%;} .hinh-2{margin-top: 50px;} 

.text-2{margin-top: 50px;}
@media only screen and (min-width:320px) and (max-width:599px){.text-2{margin-top: 10px; text-align: center;}}

.hinh-5 img{width: 100%;} .hinh-5{margin-top: 50px;}

#body3{margin-bottom: 50px;}

.text3 p{text-align: center;}

.text3{margin-top: 50px;}

.text3 img{width: 100%;}

.body4{
  background-image: url(../img/services-bi-header-f2732x1536_2.png);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}
	
.line-white{width:100%; border-top: 2px solid rgba(255,255,255,1.00); margin-top: 30px;}
@media only screen and (min-width:320px) and (max-width:599px){.line-white{display: none;}}

.info{margin-top: 30px;}
@media only screen and (min-width:320px) and (max-width:599px){.info{margin-top: 5px;}}

.info input{width: 100%; height: 60px; padding: 10px;}
@media only screen and (min-width:320px) and (max-width:599px){.info input{height: 45px;}}

.submit{width: 170px; height: 45px; margin-top: 20px; background-color: rgba(255,255,255,1.00); padding: 10px;}

.date{float: left; width: 55px; height: 75px; background-color: rgba(61,61,61,1.00); margin-top: 20px;}

.newstext{margin-top: 20px;}

#body5{margin-bottom: 100px;}

